<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<title>{{ page.title }} - Bindiry's Wiki</title>
		<meta name="keywords" content="bindiry, wiki, github, actionscript, python, ruby, rails" />
		<meta name="description" content="这里是Bindiry的个人wiki，用来记录工作学习中用到的数据资料。" />
		<link rel="stylesheet" type="text/css" href="/assets/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Ubuntu&v1' rel='stylesheet' />
		<script type="text/javascript" src="/assets/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/waypoints.min.js"></script>
		<script type="text/javascript" src="/assets/common.js"></script>
	</head>

	<body>
		<div id="container">
			<div id="sidebar">
				<div id="menu-nav">
					<div id="logo"><a href="/">Bindiry's Wiki</a></div>
					
					<ul>
						<li>Development &amp; Design
							<ul>
								<li><a href="/pages/development-design/actionscript.html">ActionScript</a></li>
								<li><a href="/pages/development-design/csharp.html">Csharp</a></li>
								<li><a href="/pages/development-design/database.html">Database</a></li>
								<li><a href="/pages/development-design/php.html">PHP</a></li>
								<li><a href="/pages/development-design/python.html">Python</a></li>
								<li><a href="/pages/development-design/ruby.html">Ruby</a></li>
								<li><a href="/pages/development-design/web-front-end.html">Web Front-end</a></li>
							</ul>
						</li>
						
						<li>Software
							<ul>
								<!--<li><a href="/pages/software/android.html">Android</a></li>
								<li><a href="/pages/software/ios.html">iOS</a></li>-->
								<li><a href="/pages/software/macos.html">MacOS</a></li>
								<li><a href="/pages/software/linux.html">Linux</a></li>
								<li><a href="/pages/software/windows.html">Windows</a></li>
							</ul>
						</li>
						
						<li>Other
							<ul>
								<!-- <li><a href="/pages/other/articles.html">Articles</a></li> -->
								<li><a href="/pages/other/open_source_projects.html">Open Source</a></li>
								<li><a href="/pages/other/references.html">References</a></li>
								<li><a href="/pages/other/server.html">Server</a></li>
								<li><a href="/pages/other/web_site.html">Web Site</a></li>
							</ul>
						</li>
					</ul>
					
					<ul>
						<li>Links
							<ul>
								<li><a href="http://junnan.org/blog">Blog</a></li>
							</ul>
						</li>
					</ul>
					
					<ul class="misc">
						<li>Powered by <a href="http://pages.github.com/">github-pages</a></li>
					</ul>
				</div>
			</div>
			
			<div id="content">
				{{ content }}
			</div>
			
			<div id="charpter">
				{{ charpter }}
			</div>

		</div>

	<a class="top hidden" href="#" title="Back to top">Top</a>
	
	<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0a86107db6ff6e2c443aef7337b30baf' type='text/javascript'%3E%3C/script%3E"));
	</script>
	</body>
</html>